.xfce4-panel {
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0);
}

#clock-button {
	color: white;
}

.xfce4-panel widget grid button.flat.toggle:checked {
	border-bottom: 1px solid white;
	color: white;
}

.xfce4-panel widget grid button.flat.toggle {
	color: gray;
}

