* {
	font-family: 'JetBrains Mono Nerd Font', monospace;
	font-size: 20px;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0);
	color: #fbf1c7;
	transition-property: background-color;
	transition-duration: .5s;
	padding: 20px 0px;
}

window#waybar > box {
	margin: 0px 20px 20px 20px;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces button {
	padding: 0px 25px 0px 20px;
	border-radius: 25px;
	color: #fbf1c7;
	background-color: rgba(251, 241, 199, 0.15);
	border: 1px solid #fbf1c7;
}

#workspaces button.focused {
	background-color: rgba(204, 36, 29, 0.15);
	border: 1px solid rgba(204, 36, 29, 1);
	color: rgba(204, 36, 29, 1);
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-power,
#power-profiles-daemon {
	padding: 0px 5px;
	color: #fbf1c7;
	background-color: rgba(251, 241, 199, 0.15);
	border: 1px solid #fbf1c7;
}

#workspaces {
	padding: 0px 4px;
	padding-left: 10px;
}

#custom-power {
	padding-right: 15px;
	padding-left: 10px;
	background-color: rgba(204, 36, 29, 0.15);
	border: 1px solid rgba(204, 36, 29, 1);
	color: rgba(204, 36, 29, 1);
}

#battery.charging, #battery.plugged {
	background-color: rgba(142, 192, 124, 0.15);
	border: 1px solid rgba(142, 192, 124, 1);
	color: rgba(142, 192, 124, 1);
}

#power-profiles-daemon.performance {
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(204, 36, 29, 0.15);
	border: 1px solid rgba(204, 36, 29, 1);
	color: rgba(204, 36, 29, 1);
}

#power-profiles-daemon.power-saver {
	background-color: rgba(142, 192, 124, 0.15);
	border: 1px solid rgba(142, 192, 124, 1);
	color: rgba(142, 192, 124, 1);
	padding-left: 5px;
	padding-right: 15px;
}

#power-profiles-daemon.balanced {
	background-color: rgba(69, 133, 136, 0.15);
	color: rgba(69, 133, 136, 1);
	border: 1px solid rgba(69, 133, 136, 1);
	padding-left: 5px;
	padding-right: 15px;
}

#power-profiles-daemon{
	padding-right: 12px;
	padding-left: 5px
}

#network.ethernet,
#network.wifi {
	background-color: rgba(142, 192, 124, 0.15);
	border: 1px solid rgba(142, 192, 124, 1);
	color: rgba(142, 192, 124, 1);
	padding-right: 15px;
}

#network.disconnected {
	background-color: rgba(204, 36, 29, 0.15);
	border: 1px solid rgba(204, 36, 29, 1);
	color: rgba(204, 36, 29, 1);
}
#pulseaudio.muted,
#pulseaudio.source-muted {
	background-color: rgba(204, 36, 29, 0.15);
	border: 1px solid rgba(204, 36, 29, 1);
	color: rgba(204, 36, 29, 1);
}

@keyframes blink {
	to {
		background-color: rgba(204, 36, 29, 1);
	}
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
