* {
    font-family: 'JetBrains Mono Nerd Font', monospace;
    font-size: 20px;
}

window#waybar {
		background-color: rgba(0, 0, 0, 0);
    color: #fbf1c7;
    transition-property: background-color;
    transition-duration: .5s;
		padding: 20px 0px;
}

window#waybar > box {
		margin: 0px 20px 20px 20px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0px 25px 0px 20px;
    background-color: transparent;
    color: #fbf1c7;
		border-radius: 25px;
}

#workspaces button.focused {
    background-color: rgba(204, 36, 29, 0.15);
		border: 1px solid rgba(204, 36, 29, 1);
		color: rgba(204, 36, 29, 1);
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-power,
#power-profiles-daemon {
    padding: 0 15px;
    color: #fbf1c7;
    background-color: rgba(22, 32, 33, 0.60);
		border: 1px solid #fbf1c7;
}

#workspaces {
		padding: 0px 4px;
		padding-left: 10px;
}

#battery.charging, #battery.plugged {
    background-color: rgba(142, 192, 124, 1);
		color: #1d2021;
}

#power-profiles-daemon.performance {
    background-color: rgba(204, 36, 29, 1);
    color: rgba(22, 32, 33, 0.60);
}

#power-profiles-daemon.power-saver {
		background-color: rgba(142, 192, 124, 1);
    color: rgba(22, 32, 33, 0.60);
}

#power-profiles-daemon.balanced {
		background-color: rgba(69, 133, 136, 1);
		color: rgba(22, 32, 33, 0.60);
}

#power-profiles-daemon{
		padding-right: 5px;
		padding-left: 10px
}

@keyframes blink {
    to {
        background-color: rgba(204, 36, 29, 1);
    }
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
