<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/twaldin/.local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>net.waldin.machine-watch</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>ProcessType</key>
	<string>Standard</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/twaldin/.local/bin/machine-watch</string>
		<string>--tick</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/twaldin/.local/state/machine-watch.log</string>
	<key>StandardOutPath</key>
	<string>/Users/twaldin/.local/state/machine-watch.log</string>
	<key>StartInterval</key>
	<integer>60</integer>
</dict>
</plist>
