* {
    font-family: "JetBrainsMono", monospace;
    font-size: 24px;
}

window {
    margin: 0px;
    border: 2px solid #fbf1c7;
		background-color: rgba(29, 32, 33, 0.7);
		border-radius: 25px;
}

#input {
    margin: 5px;
    color: #ebdbb2;
    padding: 8px;
		background-color: rgba(29, 32, 33, 0);
}

#input:focus {
    border: 2px solid #fe8019;
}

#inner-box {
    margin: 10px;
    border: none;
}

#outer-box {
    margin: 10px;
    border: none;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ebdbb2;
}

#entry {
    border: none;
    border-radius: 0px;
    padding: 6px;
}

#entry:selected {
    outline: none;
		background-color: rgba(251, 241, 199, 0.1);
}

#entry:selected #text {
    font-weight: bold;
}
